Package: file
Architecture: aarch64
Installed-Size: 10388
Maintainer: @termux
Version: 5.46
Homepage: https://darwinsys.com/file/
Breaks: file-dev
Depends: zlib
Replaces: file-dev
Description: Command-line tool that tells you in words what kind of data a file contains
